<html>
  <head>
    <title>Admin panel</title>
    <link rel="stylesheet" href="/stylesheets/admin_home.css" />
    <link
      rel="icon"
      href="https://www.clipartmax.com/png/full/173-1730488_coffee-cup-clip-art-at-clker-com-vector-clip-art-online-coffee.png"
    />
    <style>
      .dashboard-container {
        padding: 1rem 2rem;
        background: #f2bbae;
        width: 25vw;
        margin: 20vh auto;
        border-radius: 10px;
      }
      .dashboard-container h3 {
        font-size: 3em;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <%-include partials/admin_nav.ejs%>
    <div class="dashboard-container">
      <h3>Admin Naslovna</h3>
    </div>
  </body>
</html>
