<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/liste.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="icon" href="https://www.clipartmax.com/png/full/173-1730488_coffee-cup-clip-art-at-clker-com-vector-clip-art-online-coffee.png">

</head>
<body>
    <%-include partials/admin_nav.ejs%>
<div id="main">
    <%tipovi_hrane.forEach(h=> {%>
    <h1> <%=h.tip%> </h1>
    <hr>
<%})
%>

<form action="/adm/tip_hrane" method="post">

    <div class="form-group">
        <label for="tip">Tip hrane:</label><br>
        <input type="text" class="form-control input" id="user" name="tip"><br>
    </div>


    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
</body>
</html>
