<html>
<head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/form_style.css' />
    <link rel="icon" href="https://www.clipartmax.com/png/full/173-1730488_coffee-cup-clip-art-at-clker-com-vector-clip-art-online-coffee.png">

</head>
<body>
<div id="main">
<form action="/users/login" method="post" id="login">
    <div id="tekst">
        <div class="form-group">
            <label for="email">Email address:</label><br>
            <input type="email" class="form-control" id="email" name="email"><br>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label><br>
            <input type="password" class="form-control" id="pwd" name="pwd"><br>
        </div>
    </div>
    <div>
        <% if (errorMessage) {%>
        <span class="form-error-handler">Nije uspješna konekcija. Probajte ponovo.</span>
        <%}%>
        </div>
    <button type="submit" id="btn" class="btn btn-default">Submit!</button>
</form>
</div>

</body>
</html>