<html>
  <head>
    <title>Admin Restorana panel</title>
    <link rel="stylesheet" href="/stylesheets/admin_home.css" />
    <link
      rel="icon"
      href="https://www.clipartmax.com/png/full/173-1730488_coffee-cup-clip-art-at-clker-com-vector-clip-art-online-coffee.png"
    />
    <script
      src="https://cdn.socket.io/3.1.3/socket.io.min.js"
      integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
      .dashboard-container {
        padding: 1rem 2rem;
        background: #f2bbae;
        width: 300px;
        margin: 20vh auto;
        border-radius: 10px;
      }
      .dashboard-container h3 {
        font-size: 3em;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <%-include partials/admin_rest_nav.ejs%>
    <div class="dashboard-container">
      <h3>Naslovna</h3>
      <br />
      <p style="text-align: center">
        Ovdje dobijate notifikacije o potvrđenim narudžbama
      </p>
    </div>
  </body>
  <script>
    var socket = io();

    socket.on('delivery pending', function (msg) {
      Swal.fire({
        position: 'top-end',
        title: 'Nova narudžba!',
        showConfirmButton: false,
        timer: 1000,
      });
    });
  </script>
</html>
