<link rel="stylesheet" href="/stylesheets/nav_style.css" />
<link
  rel="icon"
  href="https://www.clipartmax.com/png/full/173-1730488_coffee-cup-clip-art-at-clker-com-vector-clip-art-online-coffee.png"
/>

<div class="admin-panel-container">
  <img
    src="../images/restoran.png"
    alt="logo"
    style="padding: 0; margin: 0"
    onclick="location.href='/'"
  />
  <span style="width: 60%"></span>
  <a class="nav-item" href="/">Home</a>
  <a class="nav-item" href="/delivery">Dostave</a>
  <a class="nav-item" href="/users/logout">Odjava</a>
  <h4 class="welcome-message">
    Dobrodošao/la, <span style="text-transform: capitalize"> <%=name%> </span>
  </h4>
</div>
