<link rel="stylesheet" href="/stylesheets/nav_style.css" />
<link
  rel="icon"
  href="https://www.clipartmax.com/png/full/173-1730488_coffee-cup-clip-art-at-clker-com-vector-clip-art-online-coffee.png"
/>

<div class="admin-panel-container">
  <img
    src="../../images/restoran.png"
    alt="logo"
    style="padding: 0; margin: 0"
    width="60px"
    height="50px"
    onclick="location.href='/'"
  />
  <a class="nav-item" href="/adm/restorani">Restorani</a>
  <a class="nav-item" href="/adm/tipovi_hrane">Tipovi hrane</a>
  <a class="nav-item" href="/adm/vrste_restorana">Vrste restorana</a>
  <a class="nav-item" href="/adm/gradovi">Gradovi</a>
  <a class="nav-item" href="/users/logout">Odjava</a>
  <h4 class="welcome-message">Dobrodošao/la, <%=name%></h4>
</div>
